{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">

    <title>{% block title %}Gringotts{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block head_extra %}
    {% endblock %}
</head>
<body>

{% include 'nav.html' %}

<main role="main" id="content" class="{% block container-class %}container{% endblock %}">

    {% if messages %}
        {% for message in messages %}

            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}></li>

            <div class="row mt-3">
                <div class="col-md">
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
        Nothing to see here!
    {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

{% block script_extra %}
{% endblock %}
</body>
</html>
