# This file is the input to pip-compile, which pins versions etc.
# Versions are only pinned here if it is needed for a specific reason.
# A pipeline automatically raises pull requests to update requirements.txt based on this file

# Django itself
Django

# gunicorn webserver
gunicorn
